.idea
arcas/__pycache__/
arcas/IEEE/__pycache__/
arcas/arXiv/__pycache__/
arcas/PLOS/__pycache__/
arcas/Springer/__pycache__/
arcas/nature/__pycache__/
status_report
result.json
*__pycache__*
*arcas.egg-info*
build/
dist/
docs/
.hypothesis/
