# pycharm
.idea

# pycache
*__pycache__/

# several other files
status_report
result.json
*arcas.egg-info*

# docs
build/
dist/
docs/_build

#hypothesis
.hypothesis/

# notebooks
Notes.ipynb
.ipynb_checkpoints
Structures.ipynb

# logo files
*.tex
*.log
*.aux 
*.nav
*.out
*.snm
*.toc
beamercolorthemesolarized.sty
